*,html,body
 {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  min-height: 100%;  
}
header {
  background-color: white;
  height: 212px;
  line-height: 212px;
  position: fixed;
  z-index: 1;
  width: 100%;
}
/*  
.secondary {
  background-color: deepskyblue;
  box-shadow: 0px 0px 17px 0px;
  transition: all 0.5s ease-in;
}
*/
ul {
  list-style: none;
}
ul li {
  display: inline-block;
}
header nav {
  float: right;
}
.logo img {
  margin-top: 30px;
}
header nav ul li a {
  padding-right: 30px;
  font-weight: bold;
  color:deepskyblue;
  transition: all 0.5s ease-in;
}
header nav ul li a:hover {
  text-decoration: none;
  color: red;
}
/*
,
img1 {
  background-color: linear-gradient(rgba(0, 0, 0, 0.7)),
    url(..//image/slider1.jpg);
  background-size: 100% 100%;
}
.slider,
.slider ul,
.slider ul li {
  height: 710px;
  width: 100%;
  color: white;
  text-align: center;
}
.slider h2 {
  font-weight: bold;
  margin-top: 270px;
}
.slider span {
  color: orange;
}
.slider a {
  padding: 10px 50px;
  margin-right: 10px;
}
.slider a.btn-half {
  background-color: deepskyblue;
  color: white;
}
.slidera.btn-half: hover {
  background-color: dodgerblue;
  transition: 0.5s ease-in;
}
.slider a.btn-full {
  background-color: orange;
  color: white;
  transition: 0.5s ease-in;
}
.slidera.btn-full: hover {
  background-color: #e67e22;
}
.img2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(..//image/slider2.jpg);
  background-size: 100% 100%;
}
.img3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(..//image/slider3.jpg);
  background-size: 100% 100%;
}
.slider i {
  font-size: 35px;
  margin-right: 10px;
}
.intro-area {
  position: absolute;
  padding: 100px 0px;
  text-align: certer;
}
.sub-heading {
  position: relative;
  margin-bottom: 75px;
}
.sub-heading:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -35%;
  width: 6%;
  height: 1px;
  background-color: deepskyblue;
  z-index: 1;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.sub-hearding:hover:before {
  width: 24%;
  margin-left: -12px;
}
.sub-hearding:hover:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12%;
  width: 24%;
  height: 1px;
  background-color: #elelel;
  z-index: 1;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.sub-heading p {
  color: #818181;
  display: inline-block;
  padding: 0px 0px 20px;
  position: relative;
  line-height: 24px;
  letter-spacing: 0.025em;
}

.intro-block {
  position: relative;
  background-color: #f7f7f7;
  margin: 50px 0px 0px;
  text-align: center;
  padding: 70px 25px 40px;
}
.intro-block:hover,
.intro-block.active {
  background: #0aabe1;
}
.intro-block:hover {
  -webkit-transition: 0.6s ease;
  -moz-transition: 0.6s ease;
  -ms-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
}
.intro-block .intro-icon {
  position: absolute;
  top: -31px;
  left: 50%;
  margin-left: -31px;
}
.intro-block .fa {
  width: 63px;
  height: 63px;
  font-size: 30px;
  color: white;
  line-height: 2;
  background: deepskyblue;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px #cceef9;
}
.intro-block: hover .fa, intro-block.active .fa {
  background: white;
  color: deepskyblue;
  box-shadow: 0px 0px 0px 10px deepskyblue;
}
.intro-block h3 {
  font-size: 18px;
  color: deepskyblue;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.intro-block p {
  color: #550050;
}
.intro-block:hover h3,
.intro-block:hover p {
  color: #ff66f6;
}
.featur-area
{
  background-image: linear-gradient(rgba(0,0,0,0.8)), url(../image/slider1.jpg);
  background-padding: center;
  background-attachment: fixed;
}
.title h2, p
{
  color: white;
}
.single-feature h3
{
color: white;
}
.single-feature
{
  postion: relative;
  width: 325px;
  float: left;
  padding: 30px 0;
  text-align: center;
  border-right: 1px solid ##65c8e5;
  border-bottom: 1px solid #65c8e5;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.feature-block: before
{
  content:"";
  display: table;
}
.feature-block: after
{
  clear: both;
}
.feature-icon
{
  displya: inline-block;
  margin-bottom: 20px;
}
.single-feature i.fa
{
  border: 2px solid #fff;
  padding: 15px;
  border-radius: 50%
  font-size: 30px;
  background-color: #00a7dd;
  color: white;
  width: 64px;
  height: 64px; 
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.feature-block: hover .single-feature
{
  border-color: white;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.single-feature: hover .featured-icon .fa
{
  border: 2px solid #00a7dd;
  background: white;
  color: deepskyblue;  
}

.single-feature : nth-of-type(even)
{
border-right: none;
}
.single-feature : nth-last-child(2)
{
border-bottom: none;
}
.single-feature : last-child
{
border-bottom: none;
}
.feature-area
{
  padding: 100px 0;
}
 .feature-mockup
 {
   bottom: -225px;
   position: relative;
 }

.title .sub-heading p
{
  color: white;
}

.more-feature-area .title h2
{
  color: black;
}

.more-feature-area .title .sub-heading p
{
  color: darkgrey;
}

.more-feature-area
{
  padding: 100px 0;
}

.feature-list ul
{
  list-style: none;
}
.feature-list li
{
  position: relative;
  margin-bottom: 20px;
  padding-left: 80px;
}

.feature-list li:hover i
{
 color: white;
 background-color: #00a7dd;
 -webkit-transition: 0.5s ease;
  -moz-transition: 0.es ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;  
}

.feature-icon
{
  position: absolute;
  left:0;
}

.feature icon i
{
  width: 63px;
  height: 63px;
  text-align: 20px;
  background: white;
  color: deepskyblue;
  border radiux: 50%;
  border: 2px solid deepskyblue;
  line-height:63px;
}

.feature-details h3
{
  color: deepskyblue;
  font-weight: 700;
  text-transform: uppercase;
}

.feature-details p
{
  color: #616161;
  font-weight: 200px;
}

.more-feature-area img
{
  margin-left: 70px;
}

.testimonials
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(..//image/slider1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 120px;
  padding-bottom: 120px;
  color: white;
  margin-top: 100px;
}

.testimonials .carousel-indicators
{
  bottom:-60px;
}

.testimonials .sub-hearding p
{
  color: white;
}

.carousel-inner img
{
  width: 150px;
  height: 150px;
  border radius: 100%;
  border: 2px solid deepskyblue;
  padding: 5px;
}
.testimonials .carousel-indicators li.active
{
  background-color: deepskyblue;
}
.testimonials .carousel-indicators li
{
  border: deepskyblue;
}

.team-area
{
  padding: 100px 0px;  
}

.team-area .sub-heading
{
  margin-bottom: 100px;
}
.team-man
{
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: -50px;
  overflow: hidden;
  min-height: 100px;
  height: 100px;
  width: 100px;
  min-width: 100px;
  border: 10px solid deepskyblue;
  border radius: 50%;  
}

.team-man img
{
  width: 100%;
  height: 100%
  min-height: 100%;
  min-width: 100%;
 border-radius: 50%;
 }

 .team-man h3
 {
   color: deepskyblue;
   font-size: 20px;
   font-weight: 70px;
   text-transform: uppercase;
   padding-top: 70px;
   margin-bottom: 5px;
 }

 .team-block span 
 {
   color: #GcGcGc;
   font-size: 16px;
   text-transform: capitalize;
   letter-spacing: 0.025rem;
 }

.tean-block p
{
color: dimgrey;
font-size: 14px;
padding: 25px 15px;
line-height: 24px;
}

.team-description
{
  background-color: #f5f5f5;

}

.team-social-network
{
  text-align: center;
  padding-bottom: 15px;
}

.team-social-network a
{
  margin: 0 6px;
}

.team-social-network i
{
  height: 40px;
  width: 40px;
  background: white;
  text-align: center;
  color: deepskyblue;
  border-radius: 50%;
  border: 3px solid #c4e5f6;
  padding-top: 10px;  
}

.team-block
{
  text-align: center;
  position: relative;
}

.team-block :hover .team-description
{
  background-color: deepskyblue;
  color: white;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease; 
}

.team-block :hover .team-title h3,
.team-block :hover .team-title span
{
color: white;
-webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease; 
}

.team-block: :hover .team-description p
{
  color: #f9f9f9;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease; 
}

.team-block :hover .team-social-network i
{
  border-color: white;
  background: deepskyblue; 
  color: white;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;  
}

.download h2
{
  color: black;

}

.download .sub-heading p
{
  color: white;
}

 .download
 {
   background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) url(..//image/clouds.jpg);
   background-size: cover;
   -webkit-background-size: cover;
   -ms-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-attachment: fixed;

 }

 .download .default-btn
 {
   background: transparent;
   border: 1px solid white;
   color: white;
    font-size: 20px;
    padding: 8px 40px;
    margin: 0 12px;
    transition: 0.5s ease-in; 
 }

 .download .default-btn :hover
{
  background: white;
  color: deepskyblue
}

.download .fa
{
  margin-right: 20px;  
}

.downloadnow
{
  padding: 100px 0px;
}

.contact-area
{
  padding: 100px 0px;
}

.divider
{
  border-right: 1px solid #d9d9d9;
}
.contact-area h3
{
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact-area h4
{
  color: #3a3a3a;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 40px;
  letter-spacing: 0.025em;
}

.contact-area span
{
  display: block;
  color: #3a3a3a;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.025em;
}

.contact-area ul li
{
  overflow:hidden;
  margin-bottom: 25px;
}

.contact-area ul li :last-child
{
margin-bottom: 0px;
}

.contact-area ul li .fa
{
  float: left;
  width: 25px;
  color: deepskyblue;
  font-size: 30px;
}

.contact-area ul li .address-phone
{
  float: left;
  width: 100px;
  padding-left: 25px
}

.contact-block
{
  padding-left: 25px;
}

.contact-area .form-contact .contact-area textarea
{
  font-family: 'roboto', sans-serif;
  background: #fafdff;
  border: 1px solid #a5d3eb;
  padding: 10px 12px;
  color: #bdbdbd;
  font-weight: 400;
  border-radius: 0;
}

.contact-area .form-group
{
  margin-bottom: 30px;
}

.contact-area textarea
{
  min-height: 115px;
}

.contact-area .default-btn
{
  padding: 10px; 
}
